extends layout

block content
  h1= title
  if classes.length === 0
    p No hay clases programadas todavía.
  else
    table.table
      thead
        tr
          th Título
          th Nivel
          th Plazas
          th Duración
          th Fecha
          th Entrenador
          th Estado
      tbody
        each gymClass in classes
          tr
            td= gymClass.title
            td= translateLevel(gymClass.level)
            td= gymClass.capacity
            td #{gymClass.durationMinutes} min
            td= gymClass.startsAt ? gymClass.startsAt.toLocaleString('es-ES') : 'Sin fecha'
            td= gymClass.trainer ? gymClass.trainer.name : 'Sin entrenador'
            td= gymClass.isActive ? 'Activa' : 'Inactiva'
  if canCreateClasses
    a.button(href="/classes/new") Programar nueva clase
